* {
  margin: 0px;
  padding: 0px;  
}

html,
body {
  width: 100%;
  height: 100%;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 100%;
  height: 100%;
}

#keystroke {
  /* viewportに対する相対位置で表示する。 */
  position: fixed;
  top: 10px;
  left: 50%;
  margin-left: -50px;
  width: 100px;
  height: 100px;

  color: #aaaaaa;
  background-color: #555555;

  z-index: 1;

  visibility: hidden;
}


/* Header */
#header {
  display: flex;
  justify-content: center;

  min-height: 32px;
  height: 32px;

  color: #000000;
  background-color: #ffaaaa;
}

#addressInput {
  flex-grow: 1;
  margin: 2px;
}


/* Contents */
#contents {
  flex-grow: 1;

  position: relative;
  color: #000000;
  background-color: #aaffaa;

  display: flex;
  justify-content: center;
}

#findTextBox {
  display: flex;
  justify-content: center;

  min-width: 256px;
  min-height: 32px;

  color: #aaaaaa;
  background-color: #555555;

  position: absolute;
  top: 2px;
  right: 2px;

  z-index: 1;

  visibility: hidden;
}

#findTextInput {
  flex-grow: 1;
  margin: 2px;
}

#webView {
  flex-grow: 1;
}


/* Footer */
#footer {
  min-height: 0px;
  height: 0px;
  color: #000000;
  background-color: #aaaaff;
  visibility: hidden;
}
