* {
  margin: 0px;
  padding: 0px;
  font-size: 1em;
  color: #565656;
  border-width: 0em;
}

*:focus {
  outline: none;
}

html,
body {
  width: 100%;
  height: 100%;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 100%;
  height: 100%;
}


/* Header */
#header {
  flex-direction: column;

  background-color: #f7f7f7;

  border-style: solid;
  border-width: 0em 0em 0.1em 0em;
  border-color: transparent transparent #aaaaaa transparent;
}

#addressBox {
  display: flex;
  flex-grow: 1;

  min-height: 1.4em;
  margin: 0.2em;

  border-style: solid;
  border-width: 0.1em;
  border-radius: 0.2em;
  border-color: #cccccc;
}

#addressInput {
  flex-grow: 1;
  margin: 0em 0.2em 0em 0.2em;
}

#findTextBox {
  display: flex;
  justify-content: center;

  min-width: 32px;
  min-height: 1.6em;

  position: absolute;
  top: 0.4em;
  right: 0.4em;

  z-index: 1;

  background-color: #ffffff;

  border-style: solid;
  border-width: 0.1em;
  border-radius: 0.2em;
  border-color: #cccccc;
  box-shadow: 0.2em 0.2em 0.2em 0em rgba(0, 0, 0, 0.5);

  visibility: hidden;
}

#findTextInput {
  flex-grow: 1;
  margin: 0em 0.2em 0em 0.2em;
}


/* Contents */
#contents {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

#webView {
  flex-grow: 1;
}


/* Footer */
#footer {
  flex-direction: column;

  bottom: 0em;
  min-width: 100%;

  position: fixed;

  z-index: 1;

  background-color: #f7f7f7;

  border-style: solid;
  border-width: 0.1em 0em 0em 0em;
  border-color: #aaaaaa transparent transparent transparent;

  visibility: hidden;
}

#listBox {
  flex-grow: 1;
  margin: 0.2em;
  list-style-type: none;
}

#listBox li {
  height: 1em;
  background-color: inherit;
}

#listBox li a {
  text-decoration: none;
  white-space: nowrap;
}

#listBox li a span {
  color: inherit;
}


#listItemFindBox {
  display: flex;
  flex-grow: 1;

  min-height: 1.4em;
  margin: 0.2em;

  border-style: solid;
  border-width: 0.1em;
  border-radius: 0.2em;
  border-color: #cccccc;
}

#listItemFindInput {
  flex-grow: 1;
  margin: 0em 0.2em 0em 0.2em;
}
